{% extends 'index.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
	<form method='Post'>
		{% csrf_token %}
	    <div class="w3-container">	
			{{ form|crispy }}
	    </div>

	    <div class="w3-container">
	      <div class="w3-row">
	        <div class="w3-col m8 s12">
	         {% if post.id %}
	          <p><button class="w3-button w3-padding-large w3-white w3-border" type='submit'><b>Update »</b></button></p>
	         {% else %}
	          <p><button class="w3-button w3-padding-large w3-white w3-border" type='submit'><b>Post »</b></button></p>
	         {% endif %}
	        </div>
	      </div>
   		</div>
   	</form>

  </div>
  <hr>
</div>
{% endblock content %}
